# Source: https://github.com/phonegap/phonegap-app-developer/blob/master/.gitignore

# Mac
.DS_Store

# Node
npm-debug.log
/node_modules

# Cordova
/platforms
/plugins

# res
resources/signing
