<?xml version='1.0' encoding='utf-8'?>
<widget id="org.pedsanesthesia.crisis" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Pedi Crisis</name>
    <description>
        This app is designed to be useful for any physician or other healthcare provider who cares for children, whether full-time or on an occasional basis. 
        The major benefit of the app is its decision support during rare or unusual events; even experienced providers will benefit from the checklist format for care optimization during emergencies.
    </description>
    <author email="spapedicrisis@gmail.com" href="http://www.pedsanesthesia.org/">
        Society for Pediatric Anesthesia
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <access launch-external="yes" origin="tel:*" />
    <access origin="https://www.google-analytics.com" />
    <splash src="www/img/ios/Default@2x~universal~anyany.png" />
    <platform name="ios (disabled)">
        <icon height="180" src="www/img/ios/180x180.png" width="180" />
        <icon height="60" src="www/img/ios/60x60.png" width="60" />
        <icon height="120" src="www/img/ios/120x120.png" width="120" />
        <icon height="76" src="www/img/ios/76x76.png" width="76" />
        <icon height="152" src="www/img/ios/152x152.png" width="152" />
        <icon height="40" src="www/img/ios/40x40.png" width="40" />
        <icon height="80" src="www/img/ios/80x80.png" width="80" />
        <icon height="57" src="www/img/ios/57x57.png" width="57" />
        <icon height="114" src="www/img/ios/114x114.png" width="114" />
        <icon height="72" src="www/img/ios/72x72.png" width="72" />
        <icon height="144" src="www/img/ios/114x114.png" width="144" />
        <icon height="167" src="www/img/ios/167x167.png" width="167" />
        <icon height="29" src="www/img/ios/29x29.png" width="29" />
        <icon height="58" src="www/img/ios/58x58.png" width="58" />
        <icon height="50" src="www/img/ios/50x50.png" width="50" />
        <icon height="100" src="www/img/ios/100x100.png" width="100" />
        <icon height="167" src="www/img/ios/167x167.png" width="167" />
        <icon height="167" src="www/img/ios/1024x1024.png" width="1024" />
    </platform>
    <allow-intent href="tel:*" />
    <allow-intent href="mailto:*" />
    <plugin name="cordova-plugin-device" spec="^2.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
</widget>
