<?xml version='1.0' encoding='utf-8'?>
<widget id="org.pedsanesthesia.pedicrisis" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Pedi Crisis</name>
    <description>
        This app is designed to be useful for any physician or other healthcare provider who cares for children, whether full-time or on an occasional basis. 
        The major benefit of the app is its decision support during rare or unusual events; even experienced providers will benefit from the checklist format for care optimization during emergencies.
    </description>
    <author email="spa@societyhq.com" href="http://www.pedsanesthesia.org/">
        Society for Pediatric Anesthesia
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <access launch-external="yes" origin="tel:*" />
    <icon src="www/img/logo.png" />
    <splash src="www/img/Default@2x~universal~anyany.png" />
    <allow-intent href="tel:*" />
    <engine name="ios" spec="~4.5.4" />
    <engine name="android" spec="^6.3.0" />
    <plugin name="cordova-plugin-globalization" spec="~1.0.7" />
    <plugin name="cordova-plugin-device" spec="^2.0.1" />
</widget>
