/* Tweaked from www.justinaguilar.com/animations */

.slide-left{
	animation-name: slide-left;
	-webkit-animation-name: slide-left;	

	animation-duration: 0.2s;	
	-webkit-animation-duration: 0.2s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes slide-left {
	0% {
		transform: translateX(150%);
	}
	50%{
		transform: translateX(8%);
	}		
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slide-left {
	0% {
		-webkit-transform: translateX(150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}		
	100% {
		-webkit-transform: translateX(0%);
	}
}

.slide-right{
	animation-name: slide-right;
	-webkit-animation-name: slide-right;	

	animation-duration: 0.2s;	
	-webkit-animation-duration: 0.2s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slide-right {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(-8%);
	}
	100% {
		transform: translateX(0%);
	}	
}

@-webkit-keyframes slide-right {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(-8%);
	}		
	100% {
		-webkit-transform: translateX(0%);
	}
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
	0% {
        opacity: 0;
	}
	100% {
        opacity: 1;
	}
}

.fade-in {
    animation-name: fade-in;
    -webkit-animation-name: fade-in;

    animation-duration: 0.2s;
	-webkit-animation-duration: 0.2s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		
}


@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fade-out {
	0% {
        opacity: 1;
	}
	100% {
        opacity: 0;
	}
}

.fade-out {
    animation-name: fade-out;
    -webkit-animation-name: fade-out;

    animation-duration: 0.2s;
	-webkit-animation-duration: 0.2s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		
}

/* This is just for fun */
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.spin {
	animation-name: spin;
	-webkit-animation-name: spin;

	animation-duration: 3s;
	-webkit-animation-duration: 3s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;

	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
