/* Prevent focus outlines. See https://stackoverflow.com/a/17772980/772086 */
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
} 

body {

    /* prevent callout to copy image, etc when tap to hold */
    -webkit-touch-callout: none;

    /* prevent webkit from resizing text to fit */
    -webkit-text-size-adjust: none;

    /* prevent copy paste */
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    /* Keep the background color the same as the header for iPhoneX */
    background-color:#efefef; 

    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 14px;

    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#header {
    /* "sticky" has poor support on older browsers (e.g., IE11),
     *  but a header that doesn't stay put is not app-breaking.
     * The alternative is "fixed", but that requires offsetting
     * the header of the following element :-/
     */
    position: sticky;
    top: 0px; /* this is needed for "sticky" */

    /* This is needed to prevent text from being visible when it scrolls behind the header. */
    background-color: #efefef;
}

.page {
    /* Make the page *look* like a page */
    background-color: #efefef;
    padding: 10px;
    margin: 10px;
}

.emphasis {
    border: 3px solid black;
}

[data-uri] {
    cursor: pointer;
}
