/* Prevent focus outlines. See https://stackoverflow.com/a/17772980/772086 */
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
}

html {
    /* Center the body */
    margin:    0 auto;
    max-width: 1000px;
    color: #666666;
    /* font-size: 1.2rem; */

    /* Force the Content div to expand to occupy the remainder of the screen. */
    display: flex;
    flex-flow: column;
    height: 100%;

    background-color: #fafafa;
    background-image: repeating-linear-gradient(-45deg,
        transparent 1px,
        transparent 1px,
        #fafafa 3px,
        #eee 6px
    );

    /* Native fonts; see https://bitsofco.de/the-new-system-font-stack/ */
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {

    /* prevent callout to copy image, etc when tap to hold */
    -webkit-touch-callout: none;

    /* prevent webkit from resizing text to fit */
    -webkit-text-size-adjust: none;

    /* prevent copy paste */
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    /* Keep the background color the same as the header for iPhoneX */
    background-color:#efefef;

    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;

}

/* Mind the iPhone X gap */
@media screen and (orientation: portrait) {
    body {
        padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
        padding-top: env(safe-area-inset-top); /* iOS 11.2 */
    }
}

@media screen and (orientation: landscape) {
    body {
        padding-top: 0;
    }
}

#nav {
    /* This is needed to prevent text from being visible when it scrolls behind the header. */
    background-color: #f4f4f4;

    border-bottom: 1px solid #777;

    /* iOS requires the prefix -webkit- */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 1000px; /* This matches the same rule on html */
}

#content {
    background-color: #efefef;
}

#title {
    font-size: 1rem;
}

#header {
    font-size: 1.2rem;
    font-weight: 700;
}

.page {
    /* Make the page *look* like a page */
    background-color: #f7f7f7;
    padding: 1em;
    margin: 0 15px;

    /* The following CSS rules work in conjunction with a javascript function that
     * will change the `position` from `relative` (default) to `absolute`.
     */

    /* When position is absolute, this element will shrink-to-fit horizontally.
     * That looks weird, so force this element to grow-to-fit horizontally.
     */
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-fill-available;
    width: fill-available;
    /* We don't want the content to be too wide, so this is a safety check. */
    max-width: 936px; /* 1000px (standard max-width) - 60px (padded 30px on left and 30px on right) - 4px (Ummm... borders?) */

    /* Let the content breath! */
    line-height: 2;

    /*
     * The javascript function sets the `top` dynamically.
     * The `bottom` is always `0`; this avoids setting `height` explicitly.
     * This approach is resize-friendly (e.g., for a desktop browser).
     */
    bottom: 0;

    /* Overflow `scroll` is necessary to scroll within this element! */
    overflow-y: scroll;
}

/* `width: fill-available` does not have great support yet, so use this class instead. */
.fill-available {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-fill-available;
    width: fill-available;
}

[data-uri] {
    cursor: pointer;
}

/* These two rules pad the left and right side of the nav buttons. */
#nav .button-group {
    padding-left: 1rem;
}

#nav .button-container {
    padding-right: 1rem;
}

/* button-group is the parent of button-container */
.button-group {
    display: flex;
    padding-bottom: 0.5rem;
}

.button-container {
    flex-grow: 1;
    padding-right: 1rem;
    white-space: nowrap;
}

/* For a non-nav button-container, don't pad the far left or far right side (the containing .page already has padding) */
.button-container:last-child {
    padding-right: 0rem;
}

button {
	background-color:#ededed;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	display:inline-block;
    cursor:pointer;
    text-decoration:none;
    height: 2rem;
}

#nav button {
    text-shadow: 0px 1px 0px #ffffff;
}

.event-nav button {
    text-shadow: none;
    color: white;
}

button:active {
	position:relative;
	top:1px;
}

input {
    font-size: 1em;
}

button.emphasis {
    background-color:#dfdfdf;
    box-shadow: 0 0 1px 1px #000;
    border: 1px solid #000;
}

.button-container button {
    width: 100%;
}

.event-row {
    padding-bottom: 1em;
}

.event-number {
    display: inline-block;
    padding: 0.4em 1.15em;
    border-radius: 4px;
}

.event-title {
    border-radius: 4px;
    padding: .5em;
    color: white;
}

/* These weight-related CSS classes will hide or display select items. */
body.has-weight .has-weight {
    display: unset;
}

body.has-weight li.has-weight {
    display: list-item;
}

body.has-weight .no-weight {
    display: none;
}

body.no-weight .no-weight {
    display: unset;
}

body.no-weight li.no-weight {
    display: list-item;
}

body.no-weight .has-weight {
    display: none;
}

.per-kg-weight {
    color: #aaa;
    font-size: 0.8em;
}

/* The default root/parent bullet point is a filled circle; the default second-level bullet point is an open circle.
 * Change second-level (and deeper) bullet points to a dash ("-").
 * Why? According to Barbara Burian, "the human eye tries to interpret open bullets as letters (like a or o)".
 */
li li {
  list-style-type: none;
}

li li:before {
  content: "-";
  padding-right: 5px; /* Give a little space between this dash and content */
  margin-left: -10px; /* Move this dash a little to the left. This allows line-wrapped content to look roughly correct. */
}

/* CSS for the back button */

/* The default for all platforms: the back button is not displayed. */
#back-button {
    display: none;
}

/* The default for iOS: the back button occupies space, but it is invisible. */
body.display-virtual-back-button #back-button {
    display: inherit;
    opacity: 0;
}

/* For iOS: the back button appears when there is history. */
body.display-virtual-back-button.has-history #back-button {
    animation-name: fade-in;
    -webkit-animation-name: fade-in;

    animation-duration: 0.2s;
	  -webkit-animation-duration: 0.2s;

	  animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    opacity: 1;
}

/* Decrease the size of padding-left to fit more horizontally on a (relatively) small mobile screen. */
ul {
    /* Default for `ul` is 40px in Chrome. */
    padding-left: 20px;
    -webkit-padding-start: 20px;
}

/* Used this site to determine lighter and heavier shades of colors:
 * http://www.0to255.com/455e0c
 * "lighter" is two shades lighter than the base color.
 * "heavier" is two shades heavier than the base color.
 */

 /* green */
.bg-dx {
    background-color: #455e0c; /* base color */
}

button.bg-dx.emphasis {
    background-color: #5b7c10; /* lighter */
    border: 1px solid #2f4008; /* heavier */
    box-shadow: 0 0 1px 1px #2f4008; /* heavier */
}

/* tan */
.bg-ddx {
    background-color: #b98021;
}

button.bg-ddx.emphasis {
    background-color: #d69326;
    border-color: #9d6c1b;
    box-shadow: 0 0 1px 1px #9d6c1b;
}

/* purple */
.bg-tx {
    background-color: #8c01a3;
}

button.bg-tx.emphasis {
    background-color: #a901c5;
    border-color: #6f0181;
    box-shadow: 0 0 1px 1px #6f0181;
}

/* blue */
.bg-rx {
    background-color: #0113dc;
}

button.bg-rx.emphasis {
    background-color: #0116fe;
    border-color: #0110ba;
    box-shadow: 0 0 1px 1px #0110ba;
}

/* red */
.bg-crisis {
    background-color: #be251b;
}

button.bg-crisis.emphasis {
    background-color: #dc2b1f;
    border-color: #a01f17;
    box-shadow: 0 0 1px 1px #a01f17;
}

/* orange */
.bg-misc {
    background-color: #f5712d;
}

button.bg-misc:hover, button.bg-misc.emphasis {
    background-color: #f7874d;
    border-color: #f35b0d;
    box-shadow: 0 0 1px 1px #f35b0d;
}

.bg-yellow {
    background-color: #fcf8e4;
}

button.bg-yellow.emphasis {
    background-color: #f9f0c6;
    border-color: #b9b066;
    box-shadow: 0 0 1px 1px #b9b066;
}

.uri {
    color: #33aa33;
}

/* Telephone numbers */
a {
  color: #33aa33;
  text-decoration: none;
}

/* Styling for aside boxes on page. */
.subhet {
    font-weight: 600;
}

aside {
  border-radius: px;
  padding: .5em;
}

aside ul {
  margin-top: 0;
  margin-bottom: 0;
}

.attn {
    padding: 1rem;
    padding-left: 2rem;
}

/* These elements appear at the top of each event page. */
.event-nav {
    padding: .5em 1em 0 1em;
}

/* Used primarily in edit screens like "phone" and "weight". */
.section {
    border: 1px solid #ccc;
    border-left-width: 4px;
    background-color: #f2f2f2;
    margin-bottom: 1em;
    padding: .5em;
}

/* Styling for hidden lists below an Event Title */
.display-none {
    display: none;
}

/* These are bootstrap-style margin indicators. */
.m-t-1 {
    margin-top: 1em;
}
.m-r-1 {
    margin-right: 1em;
}
.m-b-1 {
    margin-bottom: 1em;
}
.m-l-1 {
    margin-left: 1em;
}

.c-white {
    color: #fff;
}

/* Always show scrollbars in pages
 * Source: https://stackoverflow.com/a/7855592/772086
 * Note: This destroys smooth scrolling! Setting `-webkit-overflow-scrolling` to `touch` will undo all of the below settings.
 */
.page::-webkit-scrollbar {
    -webkit-appearance: none;
}

.page::-webkit-scrollbar:vertical {
    width: 11px;
}

.page::-webkit-scrollbar:horizontal {
    height: 11px;
}

.page::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid #f7f7f7; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.page::-webkit-scrollbar-track {
    background-color: #f7f7f7;
    border-radius: 8px;
}
